.company-img {
    height: 15rem;
    width: 25rem;
    margin-top: 5rem;
    margin-left: 3rem;
   
    
    

}
.company {
   background: white;
   justify-content: space-between;
    gap: 2rem;
//    margin-bottom: 50rem;
}